@font-face {src:url('/ggallery/MonumentGrotesk-Regular.otf');font-family: 'ggallery';font-weight: lighter;}
html{font-family: 'ggallery';font-size: 1em;overflow: hidden;}
body{margin: 0px}
.container{display: inline-grid; grid-template-columns:1fr 4fr 2fr; grid-template-rows: 10vh 90vh;}

.div1{background-color: white;grid-column:1/1 ;padding: 2em;z-index: 5}
.div2{background-color: white;padding: 2em;z-index: 6}
.div3{line-height: 1.5em; grid-row: 2/2;padding: 2em;padding-top: 4em; }
.div4{line-height: 1.5em; grid-row: 2/2;padding: 2em; overflow-y:scroll;padding-top: 4em;}

::-webkit-scrollbar {display: none;}
