@font-face {src:url('/ggallery/MonumentGrotesk-Regular.otf');font-family: 'ggallery';font-weight: lighter;}

html{font-family: 'ggallery';font-size: 1em;overflow: hidden;}
body{margin: 0px}
.container{display: inline-grid; grid-template-columns:1fr 4fr 2fr; grid-template-rows: 10vh 90vh ;}

.div1{background-color: white;grid-column:1/1 ;padding: 2em;z-index: 5}
.div2{background-color: white;padding: 2em;z-index: 6}
.div3{line-height: 1.5em; grid-row: 2/2;padding: 2em; }
.div4{line-height: 1.5em; grid-row: 2/2;padding: 2em; overflow-y:scroll;}



@media all and (max-width: 428px) { 
     html{font-family: 'ggallery';font-size: 1em; overflow-y:scroll;}
     .container{display: grid ; grid-template-columns:1fr; grid-template-rows: auto auto auto auto; }
  .div1{background-color: white; grid-column:1/1;grid-row: 1/1 ;padding: 2em; z-index: 3;}
.div2{background-color: white;grid-column:1/1; grid-row: 2/2; padding: 2em; z-index: 1; }
.div3{line-height: 1.5em; grid-column:1/1; grid-row: 3/3;padding: 2em;z-index: 1; }
.div4{line-height: 1.5em; grid-column:1/1;grid-row: 4/5;padding: 2em; overflow-y:scroll;}
        }


::-webkit-scrollbar {display: none;}
